
body {
    background-color: rgb(43, 43, 60);

}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logonm {
    float: left;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    color:white;
}


.navigasi {
    background-color: rgb(34, 34, 45);
    width: 100%;
    
    height: 60px;
    color: white;
}



.menu {

    margin-left: 800px;
    padding-top: 20px;

}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px ;
}

.menu ul li a {
    text-decoration: none;
    color: white;

}

.menu ul li a:hover {
    color: rgb(58, 80, 99);
    font-style: oblique;
}

footer {
  background: rgb(43, 43, 60);
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

nav {
  margin: 15px 0;
}

nav a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

.social-links img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.partner img {
  border-radius: 250px;
  width: 80px;
  margin: 15px 0;
}

.social-links img {
border-radius: 100px;
}
.copyright {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}
/* Rekomendasi Artikel */
.recommendation {
  padding: 20px;
  background: rgb(64, 64, 80);
}

.recommendation h1 {
  color: #d0cccc;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.articles {
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-wrap: wrap;
}

.article {
  text-decoration: none;
  color: inherit;
  width: 300px;
  border: 1px solid rgb(99, 99, 107);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.article img {
  width: 100%;
  height: auto;
}

.article h3 {
  font-size: 1.2em;
  padding: 10px;
  background: #363144;
  color: #d0cccc;
}

.article p {
  padding: 10px;
  font-size: 0.9em;
  color:#d0cccc ;
}

.article-page img {
  height: auto;
        margin: 0 auto;
        display: block;
        width: 70%;
}

.article-page p {
  margin-top: 20px;
  color: #9b9ca0 ;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.article-image img {
  height: auto;
        margin: 0 auto;
        display: block;
        width: 80%;
 
}
.article-image h1 {
  margin-top: 30px;
        margin-bottom: 20px;
        color: #9b9ca0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
}
.article-image p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #9b9ca0 ;
  text-align: center;
  width: 88%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto
}

.artikel h2 {
 color:  #9b9ca0 ;
 margin-top: 30px;
}
.artikel img {
  height: auto;
        margin: 0 auto;
        display: block;
        width: 50%;
}

.artikel p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #9b9ca0 ;
        text-align: justify;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
}
.artikel2 img {
  margin-left: 150px;
}
/* Style untuk link yang aktif */
.navigasi .menu ul li a.active {
    color: rgb(58, 80, 99);
    font-weight: bold;
    border-bottom: 2px solid #dedfe1;
}

#menu-toggle {
  display: none;
}
.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../pict/pict_1_bg1.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    
    
}

.home .content h3 {
  
    font-size: 3rem;
    font-family: fantasy;
    text-align: center;
    text-transform: uppercase;
    color: rgb(7, 40, 29);
    
    
    
}


.home .content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

.copyright p {
    text-align: center;
    font-size: 12px;
    color: rgb(110, 110, 116);
    font-family: Arial, Helvetica, sans-serif;
}


/* style about */
.logoweb {
    text-align: center;
    margin-top: 10px;
}
.logoweb img {
    border-radius: 250px;
    height: 250px;
    
}
.logoweb p {
    padding-top: 10px;
}

.about-content {
    background-color: rgb(55, 55, 74);
    height: auto;
}
.divider {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #8c8c8c, #ffffff, #8c8c8c);
    margin: 70px 0;
}
.about-text {
    padding-top: 50px;
    padding-bottom: 30px;
}
.about-text p {
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(194, 184, 184);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}



.misi h3 {
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(19, 34, 29);
    font-size: 20px;
}
.misi p {
    font-size: 13px;
    font-family: monospace;
}

.last {
    padding-top: 40px;
}
.last p {
    font-size: 14px;
    font-family: monospace;
    
}
.divider {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #8c8c8c, #ffffff, #8c8c8c);
    margin: 70px 0;}

.last h3 {
        padding-left: 150px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(19, 34, 29);
        font-size: 20px;}

    .copyright {
        background-color: rgb(43, 43, 60);
        height: 50px;
    }

    /* style-contact-page */
    .contact {
        position: relative;
        background: url(../pict/contact.bg.jpg) no-repeat ;
        background-size: cover;
        color: rgb(19, 34, 29);
        text-align: center;
        padding: 100px 20px;
        z-index: 998;
       
      }
      
      .contact h3 {
        text-decoration: underline;
      }
.contact p {
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}

      .contact-detail p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: none;
        margin-bottom: 40px;
      }
      
      .contact-detail {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
      }
      
      .contact-item {
        background: #d8d9e4;
        color: #333;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      
      .contact-item h3 {
        color: #1b1411;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      
      .contact-item ul li {
        list-style: none;
        display: inline-block;
        
      }
    .contact-item ul li a {
        text-decoration: none;
    }
      .contact-item p {
        margin-top: 10px;
        font-size: 1rem;
        
      }
       /* syle-dinotypes */
    
      .dinotyp h3 {
        margin-top: 80px;
        margin-bottom: 40px;
        color: #9b9ca0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
      }

      .deskrp img {
        height: auto;
        margin: 0 auto;
        display: block;
        width: 70%;
       
        
      }

      .deskrp p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #9b9ca0 ;
        text-align: justify;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
      }

      .dinotyp img{
        height: auto;
        margin: 0 auto;
        width: 50%;
        display: block;
      }

      .dinotyp h4 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #9b9ca0;
        margin-bottom: 20px;
        margin-left: 30px;
      }

      .dinotyp p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #9b9ca0 ;
        text-align: justify;
        width: 88%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-width: 768px) {
        

        .home {
          height: 100vh;
          display: flex;
          
        background-size: cover;
        
        }
        
        section.home .content h3 {
          text-align: center;
          font-size: 2em;
        }
      
        section.home .content p {
          font-size: 1em;
          padding: 0 20px;
        }
        .header {
          flex-direction: column;
          text-align: center;
        }
      
        .header h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
      
    
      
        .recommendation .articles {
          flex-direction: column;
          gap: 10px;
        }
      
        .recommendation .articles .article {
          width: 90%;
          margin: 0 auto;
        }
      
        footer {
          font-size: 14px;
        }
      
        .social-links img {
          width: 24px;
          height: 24px;
        }
      
      
      /* Ikon Burger */
.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Mengatur tata letak menu */
.menu {
  display: flex;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
}

#menu-toggle {
  display: none;
}

  .menu-icon {
    display: flex;
    position: fixed;
  top: 20px;   
  right: 20px; 
  font-size: 30px; 
  z-index: 1000; 
  }

  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }

 
  #menu-toggle:checked + .menu-icon + .menu ul {
    display: flex;
  }

  .menu ul li {
    padding: 10px 0;
  }

      }